.bottom-toolbar {
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: #000;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}